@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background:#fffdf7;
    color: #333;
}

a { color: #b7a077;}

a img {
    transition: opacity 0.2s linear;
}

a:visited { color: #f8f2f2}

a:hover {
    color: #988564;
    font-weight: bold;
    text-decoration: none;
}

a:hover img { opacity: 0.7;}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

p {
    margin-top: 0;
    line-height: 1.6;
}

img { vertical-align: bottom; }

#main h1 {
    background-image: url(../images/header_bg.jpg);
    padding: 30px 30px 30px 20px;
    font-size: 26px;
    border-bottom: solid 1px #8b7348
}

#main h2 {
    padding: 20px 22px;
    font-size: 30px;
    border: solid 1px #b7a077;
    border-radius: 5px;
}

#main h3 {
    padding: 10px 9px 4px 14px;
    font-size: 23px;
    border-left: solid 3px #b7a077
}

#point p {
    font-size: 22px;
}

#point img {
    width: 300px;
    height: auto;
}

#news {
    margin-top: 100px;
}

/* margin : auto 左右中央揃え */
header {
    background:#e53935;
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
}

header h1 {
    color:white;
    text-align:center;
    margin-bottom: 15px;
    float: left;
    margin: 5px 0 10px;
}

header #header_contact {
    float: right;
    margin: 35px 0 0;
}

#global_navi {
    width: 960px;
    clear:both;
    overflow: hidden;
    margin: 20px auto;
}

#global_navi ul {
    list-style: none;
    display:flex;
    margin:0 ;
    padding: 90;
}

#global_navi ul li {
    width: 195px;
    float: left;
    margin-right: 1px;
    text-align: center;
}

#global_navi ul li.current a {
    background-color: #e9b524;
}

#global_navi ul li a:hover {
    background-color: #e9e324;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#main {
    width: 980px;
}

#sidebar {
    width: 220px;
    float: right;
}

#side_banner { margin-bottom: 30px;}

#side_banner h2 {
    background-color: #716961;
    color: #fff;
    padding: 7px;
    font-size: 14px;
    text-align: center;
}

#side_banner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#side_banner ul li {
    margin-bottom:10px; 
}

#side_contact {margin-bottom:30px;}

#side_contact {
    border: 1px solid #b7a077;
    color: #7F7259;
    text-align: center;
}

#side_contact h2{
    background-color: #3c3a37;
    color: #d32f2f;
    padding: 60px 20px;
    font-size: 40px;
}

#side_contact address {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
}

#side_contact address img{
    vertical-align:middle;
    margin-right: 5px;
}

.access{
    text-align:center;
    padding:60px 20px;
}

.access img{
    width:700px;
    max-width:100%;
    border-radius:20px;
    margin-top:30px;
}

footer {
    background-color: #e53935;
    text-align: center;
    color:white;
    margin-top: 50px;
}

footer #footer_nav {
    background-color: #efefef;
    padding: 20px;
}

footer #footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer #footer_nav li {
    display: inline-block;
    border-left: solid 1px #aaa;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

#main_visual {
    width: 1040px;
    height:660px;
    margin: 0 auto 48px;
}

.hero{
    background-image:url("\授業でやったbloom\images\gourmet-kurumayaramen_minamiarupusugardenten5.jpg");
    background-size:contain;
    background-position:center;
    height:250px;
}

#point figure {
    float: right;
    margin: 0 0 20px 20px;
}
#point figure img {
    width: 350px;
}

#course h2 {
    font-size: 42px;
}

#course h3 {
    color: #c40000;
    font-size: 32px;
}

#course p {
    font-size: 25px;
}

#course figure {
    float: right;
    margin: 0 0 20px 20px;
}

#course figure img {
    width: 300px;
}

#course section section {
    background: #fff3e0;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15)
}

#course section section:hover{
    transform: translateY(-5px);
    transition: 0.3;
}


#gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

#gallery ul li {
    width: 220px;
    height: 230px;
    margin: 15px;
    padding: 10px;
    border: solid 1px #ddd;
    text-align: center;
    background: #fffdf5;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

#gallery li{
    transition: 0.3s;
    font-size: 18px;
    line-height: 1.4;
}

#gallery li:hover{
    transform: translateY(-5px);
}

#gallery img {
    width: 180px;
    height: 140px;
    object-fit: cover;
    transition: 0.3s;
}

#gallery img:hover {
    transform: scale(1.05);
}

#gallery h2{
    color:#b70000;
    font-size:32px;
    border-left:8px solid #ffcc00;
    padding-left:15px;
}


nav a.active{
    color: yellow;
    background-color: #e9b524;
}

.hero{
    background-image: url(../授業でやったbloom/images/gourmet-kurumayaramen_minamiarupusugardenten5.jpg);
    background-size: 50% auto;
    background-position: center;
    height: 180px;
}

/* 3の倍数のアイテムに特定の設定をする処理 */
#gallery ul li:nth-child(3n) {
    margin-right: 0;
}

article h1{
    font-size: 40px;
}

article h2{
    font-size: 32px;
}

article h3{
    font-size: 43px !important;
    font-weight: bold;
}

article p{
    font-size: 23px !important;
}

article li{
    font-size: 24px;
    line-height: 1.8;
}

article img{
    display: block;
    margin: 20px auto;
    width: 80%
}

.info-wrap{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
}

.info-box{
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.access-page .info-box  ul li{
    list-style-position: inside;
    font-size: 18px;
    line-height: 1.8;
}

.access-section li{
    list-style-position: inside;
}